{{#extend 'layouts/main'}}
{{#content 'body'}}
<h1>Blog Homepage</h1>

{{#each posts}}
<div>
    <h2>{{this.title}}</h2>
    <p>Posted by: {{this.User.username}}</p>
    <p>{{this.createdAt}}</p>

    <h3>Comments:</h3>
    {{#each this.Comments}}
    <div>
        <p>{{this.content}}</p>
        <p>Comment by: {{this.User.username}}</p>
        <p>Commented at: {{this.createdAt}}</p>
    </div>
    {{/each}}
</div>
{{/each}}
{{/content}}
{{/extend}}